.dots {
  width: 17.3px;
  height: 17.3px;
  position: relative;
}

.dot {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: #009688;
}

.before {
  box-shadow: -34.6px 0 #009688;
  animation: dots-dm1l1clg 0.6s infinite linear;
}

.after {
  transform: rotate(0deg) translateX(34.6px);
  animation: dots-dh1qq5lg 0.6s infinite linear;
}

@keyframes dots-dm1l1clg {
  100% {
    transform: translateX(34.6px);
  }
}

@keyframes dots-dh1qq5lg {
  100% {
    transform: rotate(-180deg) translateX(34.6px);
  }
}

/* اضافه کردن حالت تاریک به دات‌ها در حالت تاریک */
.dark-mode .dot {
  background: #1f1f1f;
}
