/* MovingBits.css */
@keyframes moveBits {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.moving-bits-container {
  display: flex;
  overflow: hidden;
}

.bit {
  font-size: 2rem;
  white-space: nowrap;
  animation: moveBits 10s linear infinite;
  margin-right: 5px; /* Adjust the margin as needed */
}

.bit-0 {
  color: #2196f3; /* Blue for 0 */
}

.bit-1 {
  color: #f44336; /* Red for 1 */
}
