.custom-card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  

  .custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #80cbc4;
    background: -webkit-linear-gradient(115deg, #80cbc4 0%, #00acc1 100%);
    background: linear-gradient(115deg, #80cbc4 0%, #00acc1 100%);
  }